<div class="container">
    
    <div class="box-1">
        <button class="logo"><a href="">Inicio</a></button>
    </div><!--Fim do inputs-->
    <div class="box-2">
        <div class="inputs-box-2"><button class="botoes-meio"><a href="">Historia</a></button></div>
        <div class="inputs-box-2"><button class="botoes-meio"><a href="">Expertises</a></button></div>
        <div class="inputs-box-2"><button class="botoes-meio"><a href="">Sobre</a></button></div>
        <div class="inputs-box-2"><button class="botoes-meio"><a href="">Projetos</a></button></div>
    </div><!--Fim do inputs-meio-->
    <div class="box-3">
        <button class="contato"><a href="">Contato</a></button></div>
</div><!-- Fim da nav bar-->